<div class="row">
    <div class="col-12 col-md-6">
        <div class="card mt-5">
            <div class="card-header">
                <h3>Upload your file !</h3> 
            </div>
            <div class="card-body">
                <div class="text-danger mb-3" *ngIf="!isServerConnected()">No connection to the server !</div>
              <app-fileuploader [upload-enabled]="isServerConnected()"></app-fileuploader>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6">
        <div class="card mt-5">
            <div class="card-header">
                <h3>Status:</h3>
            </div>
            <div class="card-body">
                <div>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-bottom">
                                <td>Uploaded</td>
                                <td></td>
                                <td><app-file-status [file-status]="fileStatus.UploadedStatus"  > </app-file-status></td>
                            </tr>
                            <tr class="border-bottom">
                                <td>Converted H264</td>
                                <td></td>
                                <td><app-file-status [file-status]="fileStatus.ConvertedStatus"  > </app-file-status ></td>
                            </tr>
                            <tr class="border-bottom">
                                <td>Thumbnails 1s</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-primary" *ngIf="fileStatus?.ThumbnailsResponse1s?.thumbnail?.id" 
                                    [href]="getFileUrl(fileStatus?.ThumbnailsResponse1s?.thumbnail?.id)" target="_blank" ><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                <td><app-file-status [file-status]="fileStatus?.ThumbnailsResponse1s?.status" > </app-file-status >
                           </td>
                            </tr>
                            <tr class="border-bottom">
                                <td>Thumbnails 3s</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-primary" *ngIf="fileStatus?.ThumbnailsResponse3s?.thumbnail?.id" 
                                    [href]="getFileUrl(fileStatus?.ThumbnailsResponse3s?.thumbnail?.id)" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> </a></td>
                                <td><app-file-status [file-status]="fileStatus?.ThumbnailsResponse3s?.status" > </app-file-status ></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>

    </div>

</div>