<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- Brend -->
    <a class="navbar-brand"  href="#">
      <img class="artlist_logo d-inline-block align-center mr-3" src="/assets/Artlist_Logo_32px.png" height="20" alt="Artlist">
    </a>

    <!-- Hamburger Btn -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
   
    <div class="collapse navbar-collapse" id="navContent">
       <!-- Some Navigation -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
 
    </div>
  </nav>